.drag-target {
  background: #b4bbf3;
  color: white !important;
}

.drag-source {
  background: #5569ff !important;
}

.playground-drag-target {
  background-color: #ececec;
  color: white;
  padding: 10px;
}

.playground-drag-source {
  background-color: #dfdfdf;
}

.is-active {
  background: #b4bbf3;
}

.dnd-copy ~ div {
  transform: none !important;
}
